.coverage
*.sw[op]
*.~
*.py[co]
__pycache__
dist
build
docs/_build
hanziconv.egg-info
htmlcov
MANIFEST
*.sqlite
*.sqlite3
*.pyc
*.swp
media
local_settings.py
*.log
.idea/
venv/
.python-version
.vscode/
.DS_Store
logs/*.*
.env
/static
/tmp
deploy/env_will
deploy/env_secret
.venv
/cemetery/data
celerybeat*
Pipfile.lock
tmp_downloads